.table {
    margin-left:20%;
    margin-right:20%;
    width: 60%;
    text-align: center;
}

.table td:first-child {
    font-weight: bold; 
    width: 150px;
    padding-left:1cm;
}
.table > tr > td:last-child {
    padding-left:1cm;
}

.table > caption {
    font-weight: bold;
}