
/**************************************************************************************/
/*                                     Global Components                              */
/**************************************************************************************/
html, body {
    height: 95%;
    width: 100%;
    font-family: ubuntu;
}

h1, h2, h3, h4, h5, p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.bg-primary {
    background-color: white;
}

.bg-dark {
    background-color: rgba(255,255,255,0.7);
    color: white;
}

.text-faded {
    color: gray;
}

aside {
    padding: 50px 0;
}

.no-padding {
    padding: 0;
}

.body {
    position: relative;
    margin-top: 1.5cm;
    padding: 2%;
    width: 100%;
    min-height:90%;
    text-align: center;
}

.full-center {
    padding: 10%;
    text-align: center;
    width: 100%;
}

footer {
    text-align: center;
}


/**************************************************************************************/
/*                                        Navigation                                  */
/**************************************************************************************/

.navbar-default {
    background-color: #333;
    border-color: rgba(255,255,255,0.7);
}

.navbar-default .navbar-header .navbar-brand {
    color: white;
    font-weight: 700;
    text-transform: uppercase;
}

.navbar-default .nav {
    text-align: center;
}

.navbar-default .nav.dropdown-menu {
    text-align: center;
    background-color: #333;
}
            
.navbar-default .nav.dropdown-menu li a {
    color: rgba(255,255,255,0.7) !important;
    padding-top: 6px;
    min-height: 2.5em;
    text-shadow: 1px 1px black;
}

.navbar-default .nav > li > a, > a:focus {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
    color: rgba(255,255,255,0.7);
}
      
.navbar-default .nav > li > a, > a:focus &:hover {
    color: white;
}

.navbar-default .nav > li &.active > a, > .navbar-default .nav > li &.active a:focus {
    color: white !important;
    background-color: transparent;
}

.navbar-default .nav > li &.active > a &:hover, .navbar-default .nav > li &.active a:focus &:hover {
    background-color: transparent;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, 
.navbar-default .navbar-nav>.open>a:focus {
    background-color: transparent;
}

.dropdown-menu a:hover {
    background-color: #A3A3A3 !important;
}

a.active {
    color: white !important;
}

.dropdown-menu {
    padding: 0;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: rgba(255,255,255,0.7);
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color : white;
}

#mainNav {
    height: 1.5cm;
}

/**************************************************************************************/
/*                                   Bootstrap Overrides                              */
/**************************************************************************************/

.text-primary {
    color: white;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

.btn {
    border: none;
    border-radius: 300px;
    font-weight: 700;
    text-transform: uppercase;
}

.btn-xl {
    padding: 15px 30px;
}


.contentButtonDl {
    display: none;
}
