.table {
    margin-left:20%;
    margin-right:20%;
    width: 60%;
    text-align: center;
}

.table td:first-child {
    font-weight: bold; 
    width: 150px;
    text-align: left;
    padding-left:1cm;
}
.table td:last-child {
    text-align: left;
    padding-left:1cm;
}

.rowTitle {
    font-weight: bold;
}